<div class="container-fluid">
  <div class="row">
    <form (ngSubmit)='submitUser()'#userForm='ngForm'>
      <!--Name Form-->
      <div class="form-group">

        <label for="name">UserName</label>
        <input type="text" required class="form-control" id="name" [(ngModel)]="newUser.name" name="name" #name="ngModel" required>

        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p>UserName</p>
        </div>


      </div>
      <!--Date Input-->
      <div class="form-group">
        <label for="complete">Viewed</label>
        <input type="date" id="complete" [(ngModel)]="newUser.completeDate" #completeDate="ngModel" required>
        <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
          <p> Complete Date is Required</p>
        </div>

      </div>
      <button type="submit" class="btn btn-success btn-lg">SUBMIT</button>
    </form>
  </div>
</div>
